:root {
    --ch-violet: #572f90;
    --ch-yellow: #fed30a;
    --ch-gray: #797a7e;
    --ch-lightblue: #1ca9e1;
    --ch-green: #0db24c;
    --ch-orange: #f48221;
}

* {
    padding: 0px;
    margin: 0px;
    font-family: 'Roboto', arial;
    font-size: 21px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    border-radius: 2%;
}

a {
    text-decoration: none;
    color: #FFF;
}

a:hover {
    color: var(--ch-yellow);
}

a:active {
    color: var(--ch-violet);
}

a:visited {
    color: #FFF;
}

a:visited:hover {
    color: var(--ch-yellow);
}

a:visited:active {
    color: var(--ch-violet);
}

.header {
    background-color: #000;
    position: sticky;
    position: -webkit-sticky;
    top: 0px;
    /* required */
}

.container {
    width: 60%;
    margin: auto;
}

.navbar {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 2fr;
    grid-template-areas: "a b c d e";
    justify-content: space-around;
    align-items: stretch;
    padding: 5px 0px;
    border-bottom: 1px solid;
    width: 100%
}

.navitemsleft {
    grid-area: b;
    text-align: left;
    background-color: #000;
    color: #FFF;
}

.navitemsleft li {
    display: inline;
    padding: 0 0.2em;
    color: var(--ch-gray)
}

.nav-header {
    grid-area: c;
    text-align: center;
    background-color: #000;
    color: #FFF;
    font-weight: normal;
}

.navitemsright {
    grid-area: d;
    text-align: right;
    background-color: #000;
    color: #FFF;
}

.navitemsright li {
    display: inline;
    padding: 0 0.2em;
}

.about-header {
    position: static;
    padding-top: 42px;
    transition: all 0.1s;
}

.about-header:hover {
    transform: rotate(-0.5deg);
}

.about-paragraph {
    position: static;
    padding: 21px 0px;
    padding-bottom: 42px;
    transition: all 0.1s;
}

.about-paragraph:hover {
    transform: rotate(-0.2deg);
}

.projects-boxes {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas:
        "proj1 proj2 projdesc"
        "proj3 proj4 contact"
        "proj5 y z";
    grid-gap: 1em 1em;
}

.box {
    position: static;
    min-height: 400px;
    color: #FFF;
    text-align: center;
    transition: all 0.2s;
    box-shadow:
    1px 1px #000000,
    2px 2px #000000,
    3px 3px #000000,
    4px 4px #000000,
    5px 5px #000000,
    6px 6px #000000,
    7px 7px #000000,
    0px 0px 7px 1px rgba(158,147,158,1);
}

.box:hover {
    box-shadow: none;
    -webkit-transform: translate(7px, 7px);
    transform: translate(7px, 7px);
}

.aside-projdesc-tech {
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-areas:
        "desc"
        "tech";
    grid-area: projdesc;
    grid-gap: 1em 1em;
    color: #FFF;
}

.projdesc {
    position: static;
    grid-area: desc;
    display: grid;
    align-items: center;
    justify-items: center;
    padding: 21px;
    background-color: var(--ch-violet);
    transition: transform 0.01s;
}

.projdesc:hover {
    transform: rotate(-0.5deg);
}

.tech {
    position: static;
    grid-area: tech;
    display: grid;
    align-items: center;
    justify-items: center;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    padding: 21px;
    background-color: var(--ch-yellow);
    transition: transform 0.01s;
}

.tech:hover {
    transform: rotate(-0.5deg);
}

.proj1 {
    grid-area: proj1;
    background-image: url('../images/photo.jpg');
    background-position: center top;
    display: grid;
    align-items: end;
    justify-items: center;
    padding: 21px
}



.proj2 {
    grid-area: proj2;
    background-color: var(--ch-lightblue);
    background-position: center bottom;
    display: grid;
    align-items: end;
    justify-items: center;
    padding: 21px;
}

.proj3 {
    grid-area: proj3;
    background-color: var(--ch-green);
    background-position: right top;
    display: grid;
    align-items: end;
    justify-items: center;
    padding: 21px;
}

.proj4 {
    grid-area: proj4;
    background-color: var(--ch-orange);
    background-position: right bottom;
    display: grid;
    align-items: end;
    justify-items: center;
    padding: 21px;
}

#contact-box {
    grid-area: contact;
    background-color: #FFF;
    align-self: flex-start;
    display: grid;
    align-items: center;
    justify-items: center;
    text-align: center;
    color:#000;
    transition: transform 0.01s;
    border: 4px solid;
    border-color: var(--ch-gray);
}

#contact-box:hover {
    transform: rotate(-0.5deg);
}

.contact-header {
    padding-top: 21px;
}

.contact-p {
    padding: 21px 0px;
    padding-bottom: 63px;
}

.email-button {
	background-color:#000;
	color:#fff;
	padding:2px;
    border:none;
    border-radius: 10%;
}

.email-button:hover {
	color: var(--ch-lightblue);
}

.email-button:active {
    color: var(--ch-orange)
}

.footer-main {
    background-color: #000;
    bottom: 0px;
    padding: 0px 0px;
}

.footer-main p{
    text-align: center;
    color: white;
    padding: 5px 0px;
}

/*

.contact-header {
    padding-top: 25px;
}

.contact-p {
    padding: 25px 0px;
}

.contact-form-wrapper {
    padding-bottom: 50px;
}

.contact-form {
    display: grid;
    grid-gap: 1em 1em;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas: "email email button"
                        "message message message"
                        "message message message";
}

.email-box {
    grid-area: email;
}

.message-box {
    grid-area: message;
}

.submit-button{
    grid-area: button;
	background-color:#000;
	color:#fff;
	padding:5px;
    border:none;
    margin-right: auto;
}

.submit-button:hover {
	color: var(--ch-lightblue);
}

.submit-button:active {
    color: var(--ch-orange)
}

.box:hover {
    transform: scale(1.02) rotate(1deg);
}
*/

