:root {
    --ch-darkblue: #0c77b0;
    --ch-darkgray: #57585a;
    --ch-darkgreen: #08821c;
    --ch-darkorange: #c45201;
    --ch-darkviolet: #351b70;
    --ch-darkyellow: #dca108;
    --ch-gray: #797a7e;
    --ch-green: #0db24c;
    --ch-lightblue: #1ca9e1;
    --ch-orange: #f48221;
    --ch-violet: #572f90;
    --ch-yellow: #fed30a;
}

* {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    font-family: "Roboto", arial;
    font-size: 21px;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    background-image: url("../images/pix1-bw-clar.jpg");
    background-repeat: repeat;
    /* transform-style:preserve-3d; */
    /* perspective: 10000px;
    transform: rotateX(-17deg) rotateY(59deg); */
}

.hidden {
    display: none;
}

a {
    color: #fff;
    text-decoration: none;
}

a:hover {
    color: var(--ch-yellow);
}

a:active {
    color: var(--ch-violet);
}

a:visited {
    color: #fff;
}

a:visited:hover {
    color: var(--ch-yellow);
}

a:visited:active {
    color: var(--ch-violet);
}

.proj-link {
    color:#000;
    background-color: #FFF;
    border-radius: 5px;
    padding: 4px;
}

.proj-link:visited {
    color: #000;
}

.proj-link:hover {
    color: var(--ch-violet);
}

.proj-link:visited:hover {
    color: var(--ch-violet);
}

.proj-link:active {
    color: var(--ch-yellow);
}

.proj-link:visited:active {
    color: var(--ch-yellow);
}

.container {
    margin: auto;
    width: 60%;
}

.cv {
    color: var(--ch-orange);
}

.projects-boxes {
    display: grid;
    grid-gap: 1em 1em;
    grid-template-areas:
        "navbox topbox topbox"
        "proj1 proj2 projdesc"
        "proj3 proj4 contact";
    /* "proj5 y z"; */
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 0.36fr 1fr 1fr;
    padding-bottom: 50px;
    padding-top: 50px;
}

.box {
    border-radius: 6px;
    color: #000;
    position: static;
    text-align: center;
    transition: all 0.2s;
    border: 1px solid #000;
}

.box:hover {
    -webkit-transform: translate(4px, 4px);
    box-shadow: none;
    transform: translate(4px, 4px)
}

.smallbox {
    border-radius: 6px;
    transition: all 0.2s;
}

.smallbox:hover {
    -webkit-transform: translate(4px, 4px);
    box-shadow: none;
    transform: translate(4px, 4px);
}

.navbox {
    background-color: #fff;
    border: 1px solid;
    box-shadow: 1px 1px #000, 2px 2px #000, 3px 3px #000, 4px 4px #000;
    display: grid;
    grid-area: navbox;
    grid-template-areas:
        "site"
        "links";
    overflow: hidden;
    padding: 1px;
}

.navbox-header {
    grid-area: site;
    padding: 25px;
    padding-bottom: 0px;
    text-align: start;
}

.navbox-header a {
    color: #000;
    padding-bottom: 14px;
}

.navbox-links {
    grid-area: links;
    padding: 25px;
    padding-top: 5px;
    align-self: center;
    justify-self: center;
}

.navbox-links li {
    display: inline;
}

.navbox-links li>a {
    background-color: #000;
    border: none;
    border-radius: 5px;
    color: #fff;
    margin-left: 10px;
    margin-right: 10px;
    padding: 4px;
}

.topbox {
    border: 1px solid;
    border-color: #000;
    border-radius: 6px;
    box-shadow: 1px 1px #000, 2px 2px #000, 3px 3px #000, 4px 4px #000;
    background-color: #FFF;
    display: grid;
    grid-area: topbox;
    grid-template-areas:
        "wlname icons"
        "wltext wltext";
    overflow: hidden;
}

.wl-name {
    color: #000;
    grid-area: wlname;
    padding: 25px;
    padding-bottom: 0px;
    padding-right: 0px;
}

.wl-text {
    color: #000;
    grid-area: wltext;
    padding: 25px;
    padding-top: 5px;
}

.social-icons {
    color: #000;
    grid-area: icons;
    padding: 25px;
    padding-bottom: 0px;
    padding-left: 0px;
    text-align: right;
}

.topbox a {
    color: #000;
}

.topbox a:visited {
    color: #000;
}

.topbox a:hover {
    color: var(--ch-darkyellow);
}

.topbox a:active {
    color: var(--ch-darkviolet)
}


.social-icons li {
    display: inline;
    padding: 0 0.2em;
}

.aside-projdesc-tech {
    display: grid;
    grid-area: projdesc;
    grid-gap: 1em 1em;
    grid-template-areas:
        "desc"
        "tech";
    grid-template-rows: 1fr 1fr;
}

.projdesc {
    align-items: center;
    background-color: #FFF;
    box-shadow: 1px 1px #000, 2px 2px #000, 3px 3px #000, 4px 4px #000;
    border: 1px solid #000;
    color: #000;
    display: grid;
    grid-area: desc;
    justify-items: center;
    padding: 21px;
    position: static;
    text-align: center;
}

.tech {
    align-items: center;
    background-color: #FFF;
    border: 1px solid #000 !important;
    box-shadow: 1px 1px #000, 2px 2px #000, 3px 3px #000, 4px 4px #000;
    color: #000;
    display: grid;
    grid-area: tech;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-gap: 5px 5px;
    justify-items: center;
    padding: 21px;
    position: static;
    border: 1px solid #FFF;
    text-align: center;
    overflow: hidden;
}

.proj1 {
    align-items: end;
    background-image: url(../images/drumpad.png);
    background-repeat: repeat;
    background-position: center center;
    background-size: 100%;
    display: grid;
    box-shadow: 1px 1px #000, 2px 2px #000, 3px 3px #000, 4px 4px #000;
    grid-area: proj1;
    justify-items: center;
    padding: 21px;
}

.proj2 {
    align-items: end;
    /* background-color: var(--ch-lightblue); */
    background-image: url(../images/quotebox.png);
    background-repeat: repeat;
    background-position: center center;
    background-size: 100%;
    box-shadow: 1px 1px #000, 2px 2px #000, 3px 3px #000, 4px 4px #000;
    display: grid;
    grid-area: proj2;
    justify-items: center;
    padding: 21px;
}

.proj3 {
    align-items: end;
    background-image: url("../images/photo.jpg");
    background-position: center top;
    box-shadow: 1px 1px #000, 2px 2px #000, 3px 3px #000, 4px 4px #000;
    display: grid;
    grid-area: proj3;
    justify-items: center;
    padding: 21px;
}

.proj4 {
    align-items: end;
    background-color: var(--ch-orange);
    background-position: right bottom;
    box-shadow: 1px 1px #000, 2px 2px #000, 3px 3px #000, 4px 4px #000;
    display: grid;
    grid-area: proj4;
    justify-items: center;
    padding: 21px;
}

.contact-foot {
    color: #000;
    display: grid;
    grid-area: contact;
    grid-gap: 1em 1em;
    grid-template-areas:
        "cont"
        "foot";
    grid-template-rows: 1fr 1fr;
}

#contact-box {
    align-items: center;
    align-self: flex-center;
    background-color: #FFF;
    box-shadow: 1px 1px #000, 2px 2px #000, 3px 3px #000, 4px 4px #000;
    border: 1px solid #000;
    color: #000;
    display: grid;
    grid-area: cont;
    justify-items: center;
    text-align: center;
    padding: 21px;
}

#contact-box:hover {
    box-shadow: none;
}

.contact-p {
    padding-top: 7px;
}

.email-button {
    background-color: #000;
    border: none;
    border-radius: 5px;
    color: #fff;
    padding: 2px;
}

.email-button:hover {
    color: var(--ch-lightblue);
}

.email-button:active {
    color: var(--ch-darkorange);
}

.footer-main {
    display: grid;
    grid-area: foot;
    background-color: #FFF;
    box-shadow: 1px 1px #000, 2px 2px #000, 3px 3px #000, 4px 4px #000;
    border: 1px solid #000;
    align-items: center;
    justify-items: center;
    padding: 21px;
    position: static;
}

.footer-main:hover {
    box-shadow: none;
}

.footer-main p {
    color: #000;
    padding: 5px 0px;
    text-align: center;
}

#pixelart-copy {
    font-size: 0.6em;
}


@media (max-width: 1000px) {
    .container {
        margin: auto;
        width: 80%;
    }

    .projects-boxes {
        display: grid;
        grid-gap: 1em 1em;
        grid-template-areas:
            "navbox"
            "topbox"
            "topbox"
            "projdesc"
            "proj1"
            "proj2"
            "proj3"
            "proj4"
            "contact";
        grid-template-columns: 1fr;
        grid-template-rows: 0.36fr 0.18fr 0.18fr 0.72fr 1fr 1fr 1fr 1fr 0.5fr;
        padding-bottom: 50px;
        padding-top: 50px;
    }
}