* {
    padding: 0px;
    margin: 0px;
    font-family: 'Roboto', arial;
    font-size: 21px;
}

.header {
    background-color: #000;
    position: sticky;
    position: -webkit-sticky;
    top: 0px;
    /* required */
}

.container {
    width: 60%;
    margin: auto;
}

.navbar {
    display: grid;
    grid-template-columns:1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: "a b c d e";
    justify-content: space-around;
    align-items: stretch;
    border-bottom: 1px solid;
}

.navitemsleft {
    grid-area: b;
    text-align: left;
    background-color: #000;
    color: #FFF;
}

.navitemsleft li {
    display: inline;
    padding: 0 0.2em;
}

.nav-header {
    grid-area: c;
    text-align: center;
    background-color: #000;
    color: #FFF;
    font-weight: normal;
}

.navitemsright {
    grid-area: d;
    text-align: right;
    background-color: #000;
    color: #FFF;
}

.navitemsright li {
    display: inline;
    padding: 0 0.2em;
}

/*
.projects {
    text-align: justify;
    margin: 20px 0px;
}
*/

.projects-header {
    padding-top: 21px;
}

.projects-paragraph {
    padding: 21px 0px;
}

.projects-boxes {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas:
        "proj1 proj2 desc"
        "proj3 proj4 y"
        "proj5 x x";
    grid-gap: 0.2em 0.4em;
}

.box {
    min-height: 400px;
    color: #FFF;
    text-align: center;
}

.aside-proj-tech {
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-areas:
                        "desc"
                        "tech";
    grid-area: desc;
    grid-gap: 0.2em 0.4em;
    color: #FFF;
}

.proj {
    grid-area: desc;
    display: grid;
    align-items: center;
    justify-items: center;
    padding: 21px;
    background-color: #572f90;
}

.tech {
    grid-area: tech;
    display: grid;
    align-items: center;
    justify-items: center;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    padding: 21px;
    background-color: #fed30a;
}

.proj1 {
    grid-area: proj1;
    background-image: url('../images/photo.jpg');
    background-position: center top;
    display: grid;
    align-items: end;
    justify-items: center;
    padding: 21px;
}

.proj2 {
    grid-area: proj2;
    background-image: url('../images/photo.jpg');
    background-position: center bottom;
    display: grid;
    align-items: end;
    justify-items: center;
    padding: 21px;
}

.proj3 {
    grid-area: proj3;
    background-image: url('../images/photo.jpg');
    background-position: right top;
    display: grid;
    align-items: end;
    justify-items: center;
    padding: 21px;
}

.proj4 {
    grid-area: proj4;
    background-image: url('../images/photo.jpg');
    background-position: right bottom;
    display: grid;
    align-items: end;
    justify-items: center;
    padding: 21px;
}

.contact-header {
    padding-top: 25px;
}

.contact-paragraph {
    padding: 25px 0px;
}
.footer-main {
    background-color: #000;
    bottom: 0px;
}

.footer-main p {
    text-align: center;
    color: white;
}

/*
.aside-about {
	float:right;
	width:30%;
	background-color:#FF1257;
	color:#fff;
	padding:0.2em;
	box-sizing: border-box;
}


.tech-stack {
    grid-area: tech;
    justify-self: center;
    align-self: center;
    background-color: #fed30a;
}

.tech-stack p {
    color: black;
}
*/
